devenv/
back-end/.env
node_modules/
*.pkl
IA/envirtuel/
env_anas/
.env/
env/
archive/
archive2/
archive3_preprocessed/
archive2 2/
archive2_preprocessed/
archive2_preprocessed/
train/
train2/
disgust/
archive4_preprocessed/

Archi/

Archi/

# RAPH - IA
data/
data2/
merged/
validation/
models/autres
Word/